$primary-color: #3f51b5;
$border-radius: 5px;
$option-padding: 20px 60px;

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 100px;

  .dropdown__selected-option {
    cursor: pointer;
    padding: $option-padding;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
    }
  }

  .dropdown__options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid $primary-color;
    border-top: none;
    z-index: 1;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;

    .dropdown__option {
      padding: $option-padding;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
